.hero {
  background-color: #282c34;
  color: #fff;
  padding-top: calc(40px + 45px);
  -webkit-font-smoothing: antialiased;
  padding-bottom: 20px;

  @include breakpoint("small+") {
    padding-top: calc(60px + 50px);
    padding-bottom: 70px;
  }

  @include breakpoint("xlarge+") {
    padding-top: calc(60px + 95px);
    padding-bottom: 85px;
  }
}

.hero__title {
  @include f-h1;
  color: #61dafb;
  text-align: center;
}

.hero__subtitle {
  @include f-sub;
  padding-top: 15px;
  text-align: center;

  @include breakpoint("xsmall") {
    max-width: 12em;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint("xlarge+") {
    padding-top: 20px;
  }
}

.hero__cta_group {
  padding-top: 40px;

  @include breakpoint("xlarge+") {
    padding-top: 65px;
  }
}
