.vert_nav {
  margin-top: -5px;
}

.vert_nav__item {
  padding-top: 5px;
  font-weight: 300;
  transition: color 0.2s ease;

  &.is-current {
    color: $c-brand;
    font-weight: 700;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 25px;
      background-color: $c-brand;
      left: -20px;
      top: 5px;
    }
  }

  &:hover {
    color: $c-brand;
  }
}
