$breakpoints: (
  xsmall: (start: nil, end: 599),
  small: (start: 600, end: 739),
  medium: (start: 740, end: 979),
  large: (start: 980, end: 1279),
  xlarge: (start: 1280, end: 1339),
  xxlarge: (start: 1340, end: nil)
);
